/* .button {
  background-color: #00243d !important;
  border-color: transparent !important;
}

.button:hover {
  background-color: #003d6d !important;
} */

.table {
  padding: 30px;
  /* width: 50vw; */
}

.report {
  display: flex;
}

h2 {
  text-align: center;
}

.piechart {
  padding-left: 10rem;
  width: 30vw;
  height: 40vh;
}
